body{
    background-color: rgb(214, 214, 214);
}

#main-page{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80%;
    justify-items: center;
}


#nav{
    display: flex;
    padding-left: 2rem;
    background-color: rgb(255, 172, 172);
    align-items: center;
    justify-content: center;
    width: 650px;
}
#content{
    background-color: rgb(161, 161, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
}

#canvas{
    display: grid;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: white;
    
}
#btn{
    width: 15%;
    height: 40%;
    border: thin solid hsl(0, 100%, 74%);
    border-radius: 2px;
}
.cell{
    border: 0.5px solid black;
    box-sizing: border-box;
}
